// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "vue-select/src/scss/vue-select.scss";

@import './prescription.scss';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.app-name {
    font-weight: bold;
    font-size: 15px;
    color: #009688;
    margin-top: 10px;
    
    &:hover {
        color: #009688;
    }
}

.btn-space{
    margin-right:3px;
}

.header-top-area {
    background-color: #009688;
}

#smart-prescription {
    .icon-style {
        color: #009688 !important;
    }
}

.place-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-box {
    height: 100px;
    width: 300px;
}

.empty-list {
    margin-top: 50px;
}

.inline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin:0;

    .btn-cls{
        margin-right: 10px;
    }
}

.date-calendar, .time-clock {
    display: flex;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    p { 
        margin: 0;
    }
    #real-time-date, #real-time-clock {
        margin-left: 11px;
    }
}

.el-input__inner, .el-textarea__inner {
    border-color: #07c224 !important;

    &:focus {
        // border: 2px;
        border:2px solid #0ea424 !important;
    }
}

.breadcome-heading {
    .el-input__inner, .el-input__inner:focus {
        border: 1px solid #ececec;
        font-size: 14px;
        height: 34px;
        color: #303030;
        padding-left: 20px;
        padding-right: 40px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: none;
        border-radius: 30px !important;
        width: 200px;
    }
}
.breadcome-heading .el-input__inner:focus {
    border: 1px solid #006DF0;
}

.color-success {
    color: #24b362;
}

.color-danger {
   color: #db6108;
}

.custom-pagination {
    margin-top: 10px;
}
.custom-table-padding {
    padding: 45px 20px;
    margin: 71px 0px 30px 0px;
}

.product-button-padding {
    a {
        top: 0;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.btn:focus {
    outline: none!important;
    border-style: none !important;
}

.btn:active {
    box-shadow: none;
}
