// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "vue-select/src/scss/vue-select.scss";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.app-name {
    font-weight: bold;
    font-size: 15px;
    color: #009688;
    margin-top: 10px;
    
    &:hover {
        color: #009688;
    }
}

.btn-space{
    margin-right:3px;
}

.header-top-area {
    background-color: #009688;
}

#smart-prescription {
    .icon-style {
        color: #009688 !important;
    }
}

.place-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-box {
    height: 100px;
    width: 300px;
}

.empty-list {
    margin-top: 50px;
}

.inline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin:0;

    .btn-cls{
        margin-right: 10px;
    }
}

.date-calendar, .time-clock {
    display: flex;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    p { 
        margin: 0;
    }
    #real-time-date, #real-time-clock {
        margin-left: 11px;
    }
}

.el-input__inner, .el-textarea__inner {
    border-color: #07c224 !important;

    &:focus {
        border-color: #0ea424 !important;
    }
}

.color-success {
    color: #24b362;
}

.color-danger {
   color: #db6108;
}

.custom-pagination {
    margin-top: 10px;
}
.custom-table-padding {
    padding: 45px 20px;
    margin: 71px 0px 30px 0px;
}

.product-button-padding {
    a {
        top: 0;
    }
}

// input {
//     width: 100%; /* Full width */
//     max-width: 400px; /* Optional: Limit maximum width */
//     padding: 10px 15px;
//     font-size: 16px;
//     color: #333; /* Text color */
//     background-color: #009688; /* Light background */
//     border: 2px solid #ccc;
//     border-radius: 5px;
//     transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
//     outline: none; /* Remove default outline */
// }

// input:hover {
//     border-color: #00bcd4;
// }

// input:focus {
//     border-color: #00bcd4;
//     box-shadow: 0 0 5px #009688;
// }

// input:focus {
//     border-color: #baeb16; /* Cyan color */
//     box-shadow: 0 0 5px rgba(31, 239, 12, 0.5); /* Adds a subtle glow */
//     outline: none; /* Removes the default outline */
// }

// .border-on-hover {
//     transition: outline-offset 0.3s ease, outline-color 0.3s ease;
//     outline: 2px solid #000;       /* Outline acts as a border */
//     outline-offset: 0px;     
//     background: #e5f974;   

//     :hover {
//         border: 1px solid red;
//         outline-offset: 4px;          /* Expands outline on hover */
//         outline-color: #3498db;  

//         .analytics-content {
//             border: none;
//         }
//     }
// }

// .analytics-content {
//     :hover {
//         border: none;
//     }
// }